<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SPARKY - Make money just sharing your garage</title>

	<!-- Styles -->
	<link href='http://fonts.googleapis.com/css?family=Spirax' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{MEDIA_URL}}css/normalize.css ">
	<link rel="stylesheet" href="{{MEDIA_URL}}css/foundation.min.css">
	<link rel="stylesheet" href="{{MEDIA_URL}}css/style.css">


	<!-- Javascript -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.stellar.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/waypoints.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/myjs.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/unslider.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/foundation.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/foundation/foundation.reveal.js"></script>

	<!-- Audio sounds -->
	<audio>
		<source src="{{MEDIA_URL}}bark.mp3"></source>
	</audio>

</head>
<body>

	<header class="navigation">

		<div class="large-12 columns">
			<div class="large-3 columns">
				<img src="{{MEDIA_URL}}img/logo.png" alt="">
			</div>
			<nav class="large-9 columns">
				<div class="large-2 columns" id="menu" data-slide="1">Conócenos</div>
				<div class="large-2 columns" id="menu" data-slide="2">Cómo trabajamos?</div>
				<div class="large-2 columns" id="menu" data-slide="3">herramientas</div>
				<div class="large-2 columns" id="menu" data-slide="4">Preguntas mas freceuntes</div>
				<div class="large-2 columns left" id="menu" data-reveal-id="myModal">Contactanos!!!</div>
			</nav>
		</div>
		
	</header>

	<!--  Slider 1-->
	<div class="slide" id="home" data-slide="1" >

		<div class="large-12 columns row">
			<div class="large-12 columns">
				<div class="large-9 large-offset-3 columns">
					<h1>Tu garage alquilado por $1,440 al mes!</h1>
					<p>Sparky es una plataforma en donde puedes hacer dinero con tu espacio de estacionamiento, consigue tu Sparkymote, y obten un ingreso extra sin ningun trabajo.</p>
					<h1>Sparky te ayuda a localizar una casa que este cerca de tu trabajo para que puedas dejar ahi tu auto.</h1>
					<p>Estaciona tu auto de manera segura, y a un precio accesible, pero sobre todo con la tranquilidad de que estara en un lugar seguro.</p>
					
				</div></div>

				<div class="large-9 large-offset-3 columns">
					<div class="large-12 columns order" data-reveal-id="myModal">
						Unete ahora!! !!
					</div>
				
					
				</div>
				</div>

				<div class="large-centered large-12 columns figuras">
					<img src="{{MEDIA_URL}}img/perro.png" alt="">
				</div>
			</div>	

		</div>

		<div class="slide" id="middle_home" data-stellar-background-ratio="0" >

		</div>

		<!-- Slider 2 -->
	<div class="slide" id="the-app" data-slide="2" data-stellar-background-ratio="0">

			<div class="large-12 columns" style="display:static;">
				<h2>Cómo Trabajamos?</h2>
				<div class="large-12 columns" style="display:static;">
				<h3>Para Automovilistas:</h3>
				<div class="large-12 large-centered columns">
					<div class="large-6 columns uno">
						<p>Al momento en que aceptas guardar tu auto en una casa sparky, te generamos una clave única e irrepetible llamada token.</p>
						<p>Con la cual podrás accesar al garage que decidiste alquilar!</p>
						
					</div>
					<div class="large-6 columns uno">
						<p>Además del token en tu aplicación móvil aparecerá la ruta a la que lleves llegar y estarás monitoreado por el alquiler de la casa, para que puedan estar en sincronía y ambos sepan que llegaron al lugar correcto con la persona correcta.</p>
						<p></p>

					</div>
				</div>
			</div>
		</div>




				<div class="large-12 columns" style="display:static;">
				<h3>Para Alquiladores:</h3>
					<div class="large-6 columns uno">
						<p>Tienes quien pueda abrir la puerta? Perfecto, puedes alquilar tu hogar sin ningún inconveniente. </p>
					</div>
					<div class="large-6 columns uno">
						<p>No estas todo el día en casa? Sparky se encarga de ir a instalar un Sparkymote y programarlo para que todo sea de manera remota</p>
					</div>
				</div>
				
	</div>



		<div id="middle_the-app" data-stellar-background-ratio="0" >
		</div>


		<!-- Slider 3 -->
		<div class="slide" id="features" data-slide="3" data-stellar-background-ratio="0">

			<div class="large-12 columns">

				<div class="large-12 columns">
					<h2>Herramientas</h2>
				</div>
				<div class="large-4 columns">
					<img src="{{MEDIA_URL}}img/iphone.png" alt="">
				</div>
				<div class="large-4 columns">
					<ul>
						<li>
							<h3>Aplicacion Movil</h3> <p>Conozca sus clientes, puede comprobar los perfiles de facebook, tarifas, opiniones y observaciones de todos los usuarios prospecto antes de aceptar a permitirles utilizar su espacio. Todo mediante tu celular.</p> </li>
							<li>
								<h3>Intercambia</h3> <p>¿Necesita un espacio cerca de su oficina o escuela? Puede utilizar Sparky en tu espacio y usar el crédito Sparky conseguir aparcamiento cuando lo necesite. </p> 
							</li>
							<li>
								<h3>Seguridad</h3> <p>Sparky trabajarán con una póliza de seguro. Usted puede sentirse seguro y relajarse, tenemos todo cubierto.</p>
							</li>
						</ul>
					</div>
					<div class="large-4 columns">
						<img src="{{MEDIA_URL}}img/android.png" alt="">
					</div>


				</div>
			</div>

			<div id="middle_features" data-stellar-background-ratio="0" >
			</div>
			<!-- Slider 4 -->
			<div class="slide" id="features" data-slide="4" data-stellar-background-ratio="0">

				<div class="large-12 columns">
					
					<h2>Preguntas Frecuentes</h2>

					<ul>
						<li>
							<h3>Puedo elegir quien rentara mi espacio?</h3>
							<p>Usted puede autorizar a cada persona que quiere pagar por su garage. Revise los comentarios y clasificaciones.</p>
						</li>
						<li>
							<h3>Como saber si estan usando mi espacio de estacionamiento?</h3>
							<p>Usted recibir una notificación cada vez que un cliente utiliza Sparky en su garaje, recibe el tiempo de uso y el perfil de usuario.</p>
						</li>
						<li>
							<h3>Como voy a recibir mis pagos?</h3>
							<p>Usted recibirá un depósito de cada mes directamente a su PayPal o cuenta bancaria.</p>
						</li>
						<li>
							<h3>
								Yo no tengo un abridor de puerta de garaje, puedo aplicar a Sparky?
							</h3>
							<p>Sí puedes! sólo hay que preguntar por el paquete completo Sparky plus puerta abridor combo y prepárate para hacer dinero.</p>
						</li>
						<li>
						<h3> ¿Tengo que supervisar, recoger el dinero,analizar a los clientes? </h3>
							<p> No, en absoluto, Sparky hace todo por usted. Vamos a recoger el dinero, conseguir los clientes y mantener el funcionamiento del negocio. </p>
						</li>
						<li>
							<h3> ¿Qué pasa si tengo que usar mi garaje 24x7 y tienen que dejar de disfrutar de los beneficios de Sparky?</h3>
							<p> Usted puede dejar de ser un proveedor de Sparky en cualquier momento. Sin comisiones No hay problema.</p>
						</li>
					</ul>

				</div>
			</div>



			<div id="myModal" class="reveal-modal small">
				<h2>Ordena</h2>
				<p>Dejanos tu correo y datos, para posterior</p>

					<div class="large-12 large-centered columns">
						<div class="large-12 large-centered columns">
							<label>Nombre</label>
							<input type="text" id="name">
						</div>

						<div class="large-12 large-centered columns">
							<label>Email</label>
							<input type="email" id="email">
						</div>
						

						<div class="small-4 columns">
							<div class="button" id="order">Ordenar</div>
						</div>

						<div class="small-12 columns">
							<p style="color: #E26562;">Compartir con:</p>
				<a href="https://www.facebook.com/dialog/feed?
  app_id=548812435207197
  &display=popup&caption=Make money just sharing your garage
  &link=http://www.thesparkyapp.com
  &redirect_uri=http://www.thesparkyapp.com"><div class="large-6 columns facebook">Facebook</div></a>
					
					 <a href="https://twitter.com/intent/tweet?text=make%20money%20just%20sharing%20your%20garage%20!!&tw_p=tweetbutton&url=https%3A%2F%2Fwww.thesparkyapp.com" target="_blank" data-text="make money just sharing your garage">
					<div class="large-6 columns twitter">
						Twitter
					</div>
					</a>
						</div>

					</div>
					

				<a class="close-reveal-modal">&#215;</a>
			</div>


		</body>
		<script>
		$(document).ready(function(){

			var audio = document.getElementsByTagName("audio")[0];
			$(".figuras img").mouseenter(function() {
				audio.play();
			});

			$(document).foundation();

			$('#order').bind( "click", function() {
				name = $('#name').val();
				email =$('#email').val();

				if( name.length == 0 || email.length == 0 ){ alert('Two fields are required'); }
				else{
				$.ajax({
					type: "POST",
					url: "/save/",
					data: { name: name, email: email }
				})
				.done(function( data ) {
					if( data == 0){
						alert("Congratulations, we try to answer you as soon as possible");
					}
					else if( data == 3){
						alert("The email was registred");
					}
					else{
						alert("I'm sorry, a error has happened, try it again");
					}
				});
			}
			});

		});
		</script>
		</html>